<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Money Balance</title>
</head>

<body>
<h1>Check Money Balance</h1>
<button onclick="getMoneyBalance()">Get Balance</button>
<p id="balance"></p>

<script>
    function getMoneyBalance() {
        fetch('/bank/money_amount')
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                // Обновляем элемент на странице с полученным балансом
                document.getElementById('balance').textContent = `Current balance: ${data}`;
            })
            .catch(error => {
                console.error('Error fetching money balance:', error);
                // Обработка ошибки
                document.getElementById('balance').textContent = 'Error fetching balance';
            });
    }
</script>
</body>

</html>
